
<link rel="stylesheet" href="~/css/FormStyle.css" asp-append-version="true" />
<div>
    <input id="searchField" type="text" placeholder="Поиск" class="input_field" />
    <button id="searchBtn" class="custom_button">Найти</button>
</div>