@model int

<div id="meta">
    <span id="PageId" data="@Model" style="display: none;"></span>
</div>

<div class="main_content">
    <div>
        <h2 class="text-center underlined_title">@ViewData["Title"]</h2>
    </div>
    <div id="pagesContainer">
    </div>
    <button id="AddLoadDataBtn" class="custom_button" style="display:none">Показать больше</button>
</div>