@model UserInfoModel
@{
    ViewData["Title"] = Model.GetFullName();
}
<link rel="stylesheet" href="~/css/PostEditorStyles.css" asp-append-version="true" />

<div class="main_content">
    <div>
        <span>@Model.GetFullName()</span>
        <hr />
    </div>

    <div>
        @if (ViewBag.IsOwner)
        {
            <div>
                <textarea class="post_textarea"></textarea>
                <br>
                <button class="custom_button">Опубликовать</button>
            </div>   
        }
    </div>
</div>
<span id="IsOwner" data-owner="@ViewBag.IsOwner" style="display: none;"></span>