@model UserInfoModel
@{
    ViewData["Title"] = Model.GetFullName();
}
<link rel="stylesheet" href="~/css/PostEditorStyles.css" asp-append-version="true" />

<div class="main_content">
    <div>
        <span>@Model.GetFullName()</span>
        <hr />
    </div>
    <span id="IsOwner" data-owner="@ViewBag.IsOwner" style="display: none;"></span>
    <span id="PageId" data="@ViewBag.PageId" style="display: none;"></span>
    <div>
        @if (ViewBag.IsOwner)
        {
            <div>
                <textarea id="postContent" class="post_textarea"></textarea>
                <br>
                <button id="publishBtn" class="custom_button">Опубликовать</button>
            </div>   
        }
    </div>

    <div id="postsContainer">

    </div>
</div>
<script src="~/js//posts.js" asp-append-version="true"/>