@model UserInfoModel
@{
    ViewData["Title"] = Model.GetFullName();
}
<link rel="stylesheet" href="~/css/PostEditorStyles.css" asp-append-version="true" />

<div class="main_content">
    <div>
        <span>@Model.GetFullName()</span>
        <hr />
    </div>

    <div>
        @if (ViewBag.IsOwner)
        {
            <div>
                <textarea id="postContent" class="post_textarea"></textarea>
                <br>
                <button id="publishBtn" class="custom_button">Опубликовать</button>
            </div>   
        }
    </div>
</div>
<span id="IsOwner" data-owner="@ViewBag.IsOwner" style="display: none;"></span>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const publishBtn = document.getElementById("publishBtn");

        publishBtn.addEventListener("click", async function () {
            const postContent = document.getElementById("postContent").value;

            const postData = {
                Content: postContent
            };

            try {
                const response = await fetch("/userPost/add", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify(postData)
                });

                if (response.ok) {
                    console.log("Пост успешно добавлен");
                    // Дополнительные действия при успешном добавлении поста
                } else {
                    console.error("Произошла ошибка при выполнении запроса");
                    // Дополнительные действия в случае ошибки
                }
            } catch (error) {
                console.error("Ошибка:", error.message);
                // Дополнительные действия при возникновении ошибки
            }
        });
    });

</script>