@model GroupPageModel
@{
    ViewData["Title"] = Model.groupInfo.GroupName;
}
<link rel="stylesheet" href="~/css/PostEditorStyles.css" asp-append-version="true" />

<div class="main_content">
    <div>
        <h3 id="groupTitle" class="underlined_title">@Model.groupInfo.GroupName</h3>
        <h5 id="groupDescription">@Model.groupInfo.Description</h5>
    </div>
    <span id="IsOwner" data-owner="@Model.metaData!.VisitorIsOwner" style="display: none;"></span>
    <span id="PageId" data="@Model.groupInfo.GroupId" style="display: none;"></span>
    <div>
        <div>
            <textarea id="postContent" class="post_textarea"></textarea>
            <br>
            <button id="publishBtn" class="custom_button">Опубликовать</button>
        </div>
    </div>

    <div id="postsContainer">
    </div>
    <button id="AddLoadPostsBtn" class="custom_button" style="display:none">Показать больше</button>
</div>