@{
    ViewData["Title"] = "Welcome!";
}

<div class="text-center btnContainer btnBorders">
    <h1 class="display-4">Добро пожаловать!</h1>
    <p>Здесь вы можете зарегистрироваться или войти в свай аккаунт.</p>
    <a asp-controller="Account" asp-action="Registration">Регистрация</a>
    <a asp-controller="Account" asp-action="Authorization">Вход</a>
</div>
