@{
    ViewData["Title"] = "Мои чаты";
}
<link rel="stylesheet" href="~/css/FormStyle.css" asp-append-version="true" />

<div class="main_content">
    <div>
        <h2 class="text-center underlined_title">@ViewData["Title"]</h2>
        <div>
            <input id="chatName" type="text" placeholder="Название чата" class="input_field" />
            <button id="createChatBtn" class="custom_button">Создать чат</button>
        </div>
    </div>
    <div id="chatsContainer" class="flex_container">
    </div>
    <button id="AddLoadChatsBtn" class="custom_button" style="display:none">Показать больше</button>
</div>
<script src="/js/Chats.js" asp-append-version="true"></script>