@{
    ViewData["Title"] = "Аккаунт";
}
<div class="main_content">
    <h2 class="text-center underlined_title">Аккаунт</h2>
    <div class="btnContainer btnBorders container">
        <a asp-action="LogOut" asp-controller="Account">Выйти из аккаунта</a>
    </div>
</div>
