@{
    ViewData["Title"] = "Аккаунт";
}
<div class="main_content">
    <p class="text-center">Аккаунт</p>
    <hr />
    <div class="btnContainer btnBorders container">
        <a asp-action="LogOut" asp-controller="Account">Выйти из аккаунта</a>
    </div>
</div>
