@{
    ViewData["Title"] = "Пользователи";
}
<div class="main_content">
    <div>
        <h2 class="text-center underlined_title">@ViewData["Title"]</h2>
    </div>
    @await Html.PartialAsync("SearchBar")
    <div id="usersContainer" class="flex_container">
    </div>
    <button id="AddLoadUsersBtn" class="custom_button" style="display:none">Показать больше</button>
</div>
<script src="~/js/users.js" asp-append-version="true" />