@model UserPageModel
@{
    ViewData["Title"] = Model.userInfo.GetFullName();
}
<link rel="stylesheet" href="~/css/PostEditorStyles.css" asp-append-version="true" />

<div class="main_content">
    <div>
        <h3 id="userFullName" class="underlined_title">@Model.userInfo.GetFullName()</h3>
    </div>
    <div>
        <subscription-button user-id="Model.metaData!.VisitorId" page-id="Model.userInfo.UserId" page-type="userPage"/>
    </div>
    <span id="IsOwner" data-owner="@Model.metaData!.VisitorIsOwner" style="display: none;"></span>
    <span id="PageId" data="@Model.userInfo.UserId" style="display: none;"></span>
    <div>
        @if (Model.metaData.VisitorIsOwner)
        {
            <div>
                <textarea id="postContent" class="post_textarea"></textarea>
                <br>
                <button id="publishBtn" class="custom_button">Опубликовать</button>
            </div>   
        }
    </div>

    <div id="postsContainer">
    </div>
    <button id="AddLoadPostsBtn" class="custom_button" style="display:none">Показать больше</button>
</div>
<script src="~/js/posts.js" asp-append-version="true"/>