@{
    ViewData["Title"] = "Пользователи";
}
<div class="main_content">
    <div>
        <div class="text-center">@ViewData["Title"]</div>
    </div>
    <div id="usersContainer">
    </div>
    <button id="AddLoadUsersBtn" class="custom_button" style="display:none">Показать больше</button>
</div>
<script src="~/js/users.js" asp-append-version="true" />