/* Основной контейнер */
.main_chat_content {
    flex-basis: auto;
    margin: 10px;
    padding: 10px;
    background-color: #292929;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    height: 82vh; /* Растянуть на весь экран */
    min-width: 70%;
    overflow-wrap: break-word;
}

.chat_Info {
    flex-basis: auto;
    margin: 10px;
    padding: 10px;
    background-color: #292929;
    border-radius: 5px;
    height: 82vh; /* Растянуть на весь экран */
    overflow-wrap: break-word;
    min-width: 25%;
}

.chat_wrapp {
    display: flex;
    width: 100%;
}

/* Поле ввода сообщения */
#message {
    width: calc(100% - 80px); /* Учесть ширину кнопки отправки */
    margin-right: 10px;
}

/* Панель чата */
#messagesContainer {
    flex: 1;
    overflow-y: auto; /* Разрешить прокрутку, если содержимое переполнено */
    padding: 10px;
}

.message_field {
    color: #f2f2f2;
    max-width: 80%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #333;
    margin-bottom: 10px;
}

.user_id_field {
    color: #f2f2f2;
    width: 100px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #333;
    margin-bottom: 10px;
}


.user_id_field:focus {
    outline: none;
    border-color: #555;
}
/* Стили для кнопок */
.chat_custom_button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}
