.description_conteiner {
    margin-top: 10px;
    margin-bottom: 10px;
    border-bottom: 2px #333 solid;
}

.description_content {
    margin: 10px;
    word-wrap: break-word;
}

.post_permission_info {
    margin: 10px;
    color: #555;
}
