
body,pre {
    color: #fff; /* Белый цвет текста */
    font-family: Arial, sans-serif; /* Шрифт */
}

body {
    background-color: #1f1f1f; /* Темный фон */
    margin: 0;
    padding: 0;
}

main {
    margin-top: 90px;
}

.main_content {
    background-color: #292929;
    margin: 0 auto;
    max-width: 70%;
    min-height: 25vh;
    border-radius: 5px;
    padding: 10px;
}


header {
    background-color: #333; /* Цвет фона заголовка */
    height: 75px;
    padding: 0px; /* Отступы */
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed; /* Зафиксировать заголовок */
    width: 100%; /* Растянуть заголовок на всю ширину экрана */
    top: 0; /* Разместить заголовок вверху страницы */
    z-index: 1000; /* Установить z-index, чтобы заголовок был поверх остального содержимого */
}

header div {
   display: flex;
}

.text-center {
    text-align: center; /* Центрирование текста */
}

.btnContainer a {
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 10px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.link_btn {
    background: none;
    border: none;
    color: #555; /* Нейтральный цвет */
    text-decoration: none;
    cursor: pointer;
    padding: 0;
    font: inherit;
}


.container{
    margin-top:15px;
    padding:10px;
}

.container a {
    margin: 0 auto;
}

.btnBorders a {
    border: 1px #ccc solid
}

.btnContainer a:hover {
    background-color: #555;
}

.custom_link {
    color: #008080; /* Цвет ссылок teal */
    text-decoration: none; /* Удаление подчеркивания */
    transition: color 0.3s; /* Плавное изменение цвета при наведении */
}

.custom_link:hover {
    color: #006666; /* Цвет ссылок при наведении, темнее оттенок teal */
}
